*.pyc
experiments/human_subject_traces/data/*
experiments/human_subject_traces/documents/*
experiments/human_subject_traces/runs/*
experiments/human_subject_traces/docs/*
experiments/human_subject_traces/millstone/data/*
experiments/human_subject_traces/millstone/runs/*
experiments/human_subject_traces/millstone/documents/*
experiments/human_subject_traces/millstone/docs/*
experiments/human_subject_traces/injection/data/*
experiments/human_subject_traces/millstone/injection/runs/*
experiments/human_subject_traces/millstone/injection/documents/*
experiments/human_subject_traces/millstone/injection/documents_geo/*
experiments/human_subject_traces/millstone/injection/documents_remainder/*
experiments/human_subject_traces/millstone/injection/documents_all_plain/*
experiments/human_subject_traces/millstone/injection/docs/*
secrets.toml
experiments/supplements/data/*
experiments/supplements/documents/*
experiments/supplements/runs/*
experiments/supplements/docs/*
experiments/human_subject_traces/millstone/injection/data/*